<!DOCTYPE html>
<html ng-app="manuscriptpg">
<head>
  <meta charset="utf-8">
  <title>Manuscript Reporter</title>
  <style>
    .mini-manu-view {
      background-color: #ddd;
      margin: 1%;
    }
  </style>
</head>

<body>
  <h1>Here are some manuscripts</h1>

  <div ng-controller="manuscriptpgController as manpgCtrl">
    <div class="mini-manu-view" ng-repeat="manuscript in manpgCtrl.manuscripts">
      <p>Title: {{ manuscript.title }} </p>
      <p>Author: {{ manuscript.author }} </p>
      <p>Contents: <span ng-repeat="word in manuscript.contents">Word: {{ word.word }} Frequency: {{ word.frequency }} Is it English? {{ word.isWord }}</span></p>
    </div>
  </div>


  <!-- <h2>Manuscript Reporter</h2>
  <input type='file' accept='text/plain' onchange='openFile(event)'><br>
  <img id='output'>

  <section id="results">

  </section>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> -->
  <script src="dist/bundle.js"></script>
</body>

</html>
