<div id="mandetails">
  <p><h3>Details for {{ manuscriptCtrl.manuscript.title }}</h3></p>
  <div class="btn" id="remove-manu" ng-click="manuscriptCtrl.remove(manuscriptCtrl.manuscript._id)">
    Delete
  </div>

  <div class="table-container">
    <div class="specs-and-not-english">
      <table id="manu-specs">
        <tbody>
          <tr><td>Author: {{ manuscriptCtrl.manuscript.author }}</td></tr>
          <tr><td>Notes: {{ manuscriptCtrl.manuscript.notes }}</td></tr>
          <tr><td>Loaded date: {{ manuscriptCtrl.manuscript.date }}</td></tr>
          <tr><td>Word count: {{ manuscriptCtrl.manuscript.length }}</td></tr>
        </tbody>
      </table>

      <table id="non-english-table">
        <caption>Words we couldn't find in the dictionary</caption>
        <thead>
          <th>Word</th>
          <th>Frequency</th>
        </thead>
        <tbody>
          <tr ng-repeat="(key,value) in manuscriptCtrl.notEnglish">
              <td>{{ key }}</td>
              <td>{{ value.frequency }}</td>
          </tr>
        </tbody>
      </table>

    </div>

    <table id="word-frequency-table">
      <caption>Most-frequently used words</caption>
      <thead>
        <th>Word</th>
        <th>Frequency</th>
      </thead>
      <tbody>
        <tr ng-repeat="(key,value) in manuscriptCtrl.mostFrequent">
            <td>{{ key }}</td>
            <td>{{ value.frequency }}</td>
        </tr>
      </tbody>
    </table>

  </div>

</div>
