body {
  margin: 0;
  padding: 0;
  font-family: 'Quattrocento', serif;
  background-color: #DCD9C7;
  background: radial-gradient(#fff 5%, #CBC8B6 85%, #BAB7A5 95%);
  overflow-x: hidden;
}
a {
  color: #000;
  text-decoration: none;
}
.scrollmenu {
  position: relative;
  background-color: #687C7F;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
  overflow-x: auto;
  white-space: nowrap;
  height: 10%;
  padding: 10px;
  width: 100%;
  align-items: flex-start;
}
.scrollmenu::-webkit-scrollbar-track
{
  background-color: #687C7F;
}

.scrollmenu::-webkit-scrollbar
{
  width: 10px;
	background-color: #687C7F;
}

.scrollmenu::-webkit-scrollbar-thumb
{
	background-color: #FF6F3F;
  border: 1px solid #EE5E2E;
  border-radius: 10px;
}

.inner-scrollmenu {
  min-width: 105%;
  z-index: 2;
}
.scrollmenu div {
  display: flex;
  align-items: flex-start;

}
.mini-manu-view {
  margin: 10px;
  align-self: center;
  border-radius: 10px;
  box-shadow: 5px 5px #333;
  background-color: #fff;
  padding: 10px;
  height: 130px;
  width: 95px;
  font-size: .8em;
  position: relative;
  z-index: 6;
  white-space: normal;
}
.mini-manu-view p {
  background-color: transparent;
}

.mini-manu-link :hover {
  transition: .4s ease-in-out;
  background-color: #FF7142;
}

h1 {
  display: inline;
}
#header {
  position: relative;
  color: #6D4C3D;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  box-shadow: 0px 5px 20px #333;
  z-index: 5;
}
#add-new {
  color: #000;
  font-size: .8em;
  display: flex;
  align-content: center;
  text-align: center;
  position: relative;
  height: 120px;
  width: 85px;
  margin-right: 50px;
  font-weight: bold;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 5px 5px #333;
}
#add-new p {
  margin: auto;
}
#add-new-wrapper :hover {
  transition: .5s ease-in-out;
  background-color: #FF7142;
}
h3, table {
  margin: auto;
}
table {
  background-color: #fff;
  border-radius: 10px;
  padding: 15px;
}
#mandetails {
  text-align: center;
}

th, td {
    padding: 5px;
    text-align: left;
    border-bottom: 1px solid #ccc;
    border-collapse: collapse;
}
th {
  font-weight: bold;
}
.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  max-width: 100%;
  height: 400px;
  max-height: 100%;
  z-index: 21;
  background-color: #fff;
  border: 5px solid #FF7142;
  border-radius: 10px;
}
.modal-contents {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  overflow: auto;
}
.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  background-color: #222;
  opacity: 0.6;
}
